.icon
  width 24px
  height 18px
  display inline-block
.sine
  background url('/img/sine.png') no-repeat top right
.triangle
  background url('/img/triangle.png') no-repeat top right
.square
  background url('/img/square.png') no-repeat top right
.sawtooth
  background url('/img/sawtooth.png') no-repeat top right
.controller__adsr, .controller__wave-type, .controller__distortion, .controller__super-saw
  display inline-block
  vertical-align top
  margin-right 2em
