slider-height = 12em
slider-width = 3em
track-width = 0.2em
border-size = 0.2em
input-width = 4em
input-height = 1.75em
controller-color-border = #222
controller-color = #555
controller-track-color = #bbb

.range-slider
  display inline-block
  text-align center
  width slider-width
  height slider-height
  input
    background-color inherit
  .range-slider__slider
    -webkit-appearance: none;
    -webkit-transform translate(-4em, 4em) rotate(-90deg);
    width slider-height
    height slider-width
    &:focus
      outline none
    &::-webkit-slider-thumb
      -webkit-appearance none
      border border-size solid controller-color-border
      height (input-width / 2)
      width (input-width / 2)
      background-color controller-color
      box-sizing border-box
      margin-top -(border-size / 2) -(input-height / 2)
    &::-webkit-slider-runnable-track
      height track-width
      background-color controller-track-color
      border border-size solid controller-color-border
      border-radius 0
  .range-slider__label
    display inline-block
    margin-top (slider-height / 2 + 1)
  .range-slider__input
    width input-width
    height input-height
    text-align center
    border 1px solid controller-color-border
    font-weight bold
    background-color controller-color
    color #fff
