border-size = 0.2em
border-color = #222

.flip-switch
  .flip-switch__title
    display block
    width 100%
    text-align center
  .flip-switch__left-label
    line-height 1em
    vertical-align top
  .flip-switch__right-label
    line-height 1em
    vertical-align top
  .flip-switch__checkbox
    display none
  .flip-switch__switch-border
    display inline-block
    margin 0 0.5em
    position relative
    width 2.25em
    height 1em
    line-height 0.5em
    border border-size border-color solid
    background-color #bbb
  .flip-switch__switch
    position absolute
    width 1em
    height 1em
    background-color #555
    box-sizing border-box
  .flip-switch__checkbox:checked + .flip-switch__switch-border .flip-switch__switch
    right 0
