thumb-size = 0.8em
border-size = 0.25em

controller-color-border = #305a64
controller-color = #70d2e8

.range-slider
  .range-slider__slider
    -webkit-appearance: none;
    -webkit-transform translate(-4em, 0) rotate(-90deg);
    width 12em
    height 12em
    &:focus
      outline none
    &::-webkit-slider-thumb
      -webkit-appearance none
      border border-size solid controller-color-border
      height 2em
      width 2em
      border-radius 50%
      background-color controller-color
      margin-top: -0.8em
    &::-webkit-slider-runnable-track
      height thumb-size
      background-color #fff
      border border-size solid controller-color-border
      border-radius 0.5em
  .range-slider__input
    width: 4em;
