body, html
  margin 0
  padding 1em
  font 14px/1.4 'Helvetica Neue', Helvetica, Arial
  color #333
  background-color gainsboro
.hidden
  display none

@import 'components/controller'
@import 'components/input/range-slider'
@import 'components/keyboard'
@import 'components/grid'
